/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #4b9eda75;
  padding: 15px 20px 10px 160px;
}

/* Style the header links */
.header a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 8px 20px 0 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  margin-left: 48 px;
  font-size: 25px;
  font-weight: bold;
}

.header img {
  border: 0;
}

.header img {
  width: 24px;
  height: 24px;
}

/* Change the background color on mouse-over */
nav a:hover {
  transform: scale(1.2);
}

/* Float the link section to the right */
nav {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header {
    width: 75%;
  }
}
