<div class="item item-1">
  <h2>Пристрої</h2>
</div>

<div class="centered">
  <section class="card-container">
    <article class="card" *ngFor="let item of items">
      <header class="card__title">
        <h3>{{item.name}}</h3>
      </header>
      <figure class="card__thumbnail">
        <img src={{item.src}}>
      </figure>
      <main class="card__description">
        {{item.type}}
      </main>
      <a routerLink="/detail/{{item.id}}">Show details</a>
    </article>

  </section>
</div>