.hamburger {
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  justify-items: center;
  list-style: none;
  background: none;
}
.hamburger > i {
  align-self: center;
}

.hamburger:hover {
  background-color: #cfd8dc;
}
