nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #607D8B;
  }
  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }
  nav a.active {
    color: #039be5;
  }


.hamburger {
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  justify-items: center;
  list-style: none;
  background: none;
}
.hamburger > i {
  align-self: center;
}

.navigation {
  list-style: none;
  background: none;
}

/* .navigation li {
  flex: 3 3;
} */

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #607D8B;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #eee;
  border-radius: 4px;
  margin: 5px;
  min-height: 6em;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
}

.hamburger:hover {
  background-color: #CFD8DC;
}

.navigation a:hover {
  background: #607D8B;
  color: #eee;
}

@media all and (max-width: 600px) {
 
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}