<div class="container" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="flex-start">
  <div class="item item-1" fxFlex="100%">
    <h2>Мої герої</h2>
  </div>
  <div class="item item-2">
    <ul class="heroes"
      fxFlex 
      fxLayout="column"
      fxLayoutGap.xs="0">
      <!-- <li *ngFor="let hero of heroes"
        [class.selected]="hero === selectedHero" 
        (click)="onSelect(hero)"> -->
      <li  *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
          <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button class="delete" title="видалити героя +D"
        (click)="delete(hero)">x</button>
      </li>
    </ul>
    
  </div>
  <div class="item item-3">
      <label>Ім'я героя:
        <input #heroName />
      </label>
      <button (click)="add(heroName.value); heroName.value=''">Додати Героя</button>
  </div>
  <div class="item item-4" *ngIf="selectedHero">
      <app-hero-detail [hero]="selectedHero"></app-hero-detail>
  </div>
  <!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
</div>